@font-face {
    font-family: kalnialight;
    src: url(/assets/fonts/KalniaGlaze-Light.ttf);
}
body{
    background-color: rgb(219, 228, 228);
}
/*
los estilos se recomiendan que se agreguen de arriba para abajo
*/
h1 {
    font-family: kalnialight, Courier, monospace;
    color: brown;
}
h2{
    color: rgb(165, 92, 13);
}
.micolorpersonalizadoparah2 {
    color: blue;
}

img {
    width: 200px;
    height: 200px;
}

img:hover {
    transform: scale(1.1);
}